img {
    width: 400px;
    height: 250px;
    transition: 0.5s all;
}

#main {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 50px;
    width: 100%;
}

.content {
    animation-name: fade-in;
    animation-duration: 2s;
}

.sidebar {
    animation-name: fade-in;
    animation-duration: 2s;
}

.subtitles{
   font-size: large;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-style: italic;
}
img:hover {
    height: 250px;
    width: 475px;
}

body {
    background: rgba(186, 212, 255, 0.5);
}

p {
    font-family: 'Lato', sans-serif;
}

li {
    font-family: sans-serif;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-family: sans-serif;
}

.sidebar {
    background: rgb(255, 227, 191);
}

.image-gride {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gride >img {
    margin: 50px;
}

#image-1{
    float: right;
    margin: 15px;
    height: 300px;
}

.post {
    border: 2px solid rgb(229, 158, 66);
    margin: 10px;
}

.post-title {
    margin-left: 5px;
}

.post-text {
    margin-left: 5px;
    margin-right: 5px;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1};
}